body {
    front-family: Arial, sans-serif;
    background: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chatbox {
    background: white;
    width: 400px;
    padding: 20px;
    boarder-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.bot-message {
    background: #4CAF50;
    color: white;
    padding: 15px;
    boarder-radius: 8px;
    margin-button: 20px;
}

.option button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    boarder: none;
    boarder-radius: 5px;
    background: #eee;
    cursor: pointer;
}

.option button:hover {
    background: #ddd;
}

#user-reply {
    margin-top: 20px;
    font-weight: bold;
    color: #333
}
